<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    </head>
    <body style="background-color: black">
    <div class="container-sm">
        
            
            <h2>Please confirm that your info is correct</h2>
            <input type="text" placeholder="Name" name="name">
            <input type="text" placeholder="Age" name="age">
            <input type="text" placeholder="Make" name="make">
            <input type="text" placeholder="Model" name="model">
            <input type="text" placeholder="Time" name="time">
            <a href="/racers/show"><button class="btn btn-outlinelight" class="display-2" style="color: #efecea;">Confirm</button></a> 
          



        </form>





    </div>
   
    </body>
</html>