<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    </head>
    <body style="background-color: grey; color: white">
        <div> 
            <h1 class="display-3" style="color: #efecea;">Track Day</h1>
            <h2 class="display-5" style="color: #efecea;">Welcome to the Tsukuba Circuit, please continue to sign up for our daily runs</h2>
            <h3 class="display-5" style="color: #efecea;">The place where drivers and enthusiasts can bring their OWN project cars to test their skills on the track!</h3>
            <img src="https://www.drifted.com/wp-content/uploads/2021/05/tsukuba-circuit.jpg">
            <a href="/racers"><button class="btn btn-success" class="display-2" style="color: #efecea;">View Contestants</button></a> 
        
        
        
        
        </div>
        
 
    </body>
</html>